@CHARSET "ISO-8859-1";
body {
    background-color: #002880 !important;
    
}
div{
	background-color: white;
}
#container{
	width: 75%;
	margin: 0 auto; 
}
#header {
    background-color:#D9DDE8;
    color:#6699ff;
    text-align:center;
    padding:5px;
}
#section {
    width:50%;
    margin: 0 auto;
    padding:10px;	 	 
}
#nav {
	width:60%;
	margin: 0 auto;
}
#nav-search {
	width:90%;
	margin: 0 auto;
	
}
#footer {
    background-color:#D9DDE8;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
.nav-Grid {
    width: 1000px;
}
.nav-menu {
    float: left;
    width: 250px;
    height: 100px;
}
.nav-searchBar {
	width:93%;
	height: 100px;
}
.slider {
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.arrow.prev {
	opacity: 0.2;
    left: 20px;
    background-image: url("../assets/image/arrow_prev.png") !important;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/image/arrow_next.png);
}
#rcorners1 {
    border-radius: 20px;
    padding: 20px; 
    width: 500px;
    height: 10px;    
}